root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Markdown の行末スペース 2 つは改行の意味を持つので消さない
[*.md]
trim_trailing_whitespace = false
